<div class="h-full w-full flex flex-row justify-center p-10">
    <div class="h-full flex flex-1 flex-col justify-center">
      <img class="h-80" src="../../../assets/images/not_found.svg" alt=""/>
    </div>
    <div class="h-full flex flex-1 flex-col justify-center">
      <div class="text-6xl font-bold text-black my-3">Error !</div>
      <div class="my-3 text-3xl">Sorry we're unable to find the page you're looking for.</div>
      <!-- <app-button class="my-10" classes="rounded-lg" title="Back to home" [goTo]="'/'"></app-button> -->
    </div>
  </div>
